*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    min-height: 100vh;
    background-color: aquamarine;
    background-size: cover;
    background-position: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    background-color: #1c1c1c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo img{
    background-color: transparent;
    width: 100px;
}

.navbar a{
    position: relative;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 60px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 3px;
    background: #D1FC00;
    transition: 0.5s;
}

.navbar a:hover::before{
    width: 100%;
}

.container{
    background-color: black;
    min-width: 100%;
    height: 100%;
    padding: 30px;
}

.section1{
    background-color: #D1FC00;
    width: 50%;
    height: 100%;
    border-radius: 30px;
}